{% extends 'base.html' %}
{% include 'header.html' %}


{% block title %} Home {% endblock %}


{% block body %}
<div id="map"></div>
<div class="container">
   <div class="row">    
        <div class="col-md-4 sidenav">
          <!-- Nav tabs -->
         <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#passenger">Passenger
              </a>   
             </li>
             <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#rescuer">Rescuer</a>
            </li>
     
         </ul>




         
          <!-- Tab panes -->
          <div class="tab-content">
             <div id="passenger" class=" tab-pane active"><br>
               <form method="get" action="/search" id="search">
                 <input name="q" type="text" size="40" placeholder="Search..." /> 
                 <button type="button" class="btn btn-light btn-sm"><i class="fa fa-search"></i> </button>            
                 <button type="button" class="btn btn-secondary btn-sm btn-refresh"><i class="fa fa-refresh"></i> </button>
                 <button type="button" class="btn btn-success btn-sm btn-add" data-toggle="modal" data-target="#passengermodal"><i class="fa fa-plus"></i> </button>
               </form>
               <table>
                {% for passenger in passengers %}
                  <tr>
                    <td>
                      {{passenger.rfid}}
                    </td>
                   
                    <td>
                        <form action="./delete" method="POST" style="display: inline">
                            <input type="hidden" value="{{passenger.rfid}}" name="rfid">
                            <button type="button" class="btn btn-danger btn-sm" value="Delete" datatoggle="modal" onclick="return confirm('Are you sure to delete?')"><i class="fa fa-trash"></i> </button> 
                        
                        </form>
                   
                    </td>
                  </tr>
                {% endfor %}
              </table>
               
             </div>
                <div id="rescuer" class="tab-pane fade"><br>
                <form method="get" action="/search" id="search">
                    <input name="q" type="text" size="40" placeholder="Search..." /> 
                    <button type="button" class="btn btn-light btn-sm"><i class="fa fa-search"></i> </button>            
                    <button type="button" class="btn btn-secondary btn-sm btn-refresh"><i class="fa fa-refresh"></i> </button>
                    <button type="button" class="btn btn-success btn-sm btn-add" data-toggle="modal" data-target="#rescuermodal"><i class="fa fa-plus"></i> </button>
                
                </form>
    
                    <h3>rescuer</h3>
                    <p></p>
                </div>
            </div>
        </div>
   </div>

            

        <!-- The Modal -->
    <div class="modal fade" id="passengermodal">
        <div class="modal-dialog">
            <div class="modal-content">
        
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Insert Passenger Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form action="{{url_for('insert')}}" method="POST">

                        <div class="form-group">

                            <label>ID:</label>
                            <input type="text" class="form-control" name="rfid" required="1">
                        </div>

                        <div class="form-group">

                            <label>Name:</label>
                            <input type="text" class="form-control" name="name" required="1">
                        </div>


                        <div class="form-group" required="1">

                             <label>Gender:</label>
                             <input type="radio" name="gender" value="male" > Male
                             <input type="radio" name="gender" value="female"> Female
                         </div>

                        <div class="form-group">

                            <label>Age:</label>
                            <input type="text" class="form-control" name="age" required="1">

                        </div>

                        <div class="form-group">

                            <label>Contact Number:</label>
                            <input type="text" class="form-control" name="contact" required="1">

                        </div>

                        <div class="form-group">
                            <label>Address:</label>
                            <input type="text" class="form-control" name="address" required="1">
                        </div>

                        <div class="form-group">
                            <div class="col text-center">
                                <button class="btn btn-primary" type="submit">Insert Data</button>

                            </div>
                        </div>
                    </form>
                </div>     
            </div>
        </div>
    </div>
</div>





{% endblock %}